.selectionsWrapper {
  position: relative;
  width: 100%;
  background-color: black;
  height: 300px;
  max-width: 500px;
  min-height: fit-content;
  overflow: hidden; /* Ensure content doesn't overflow */
}

.one,
.two,
.three,
.four,
.five {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 100%; /* Start off-screen to the right */
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: left 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 0; /* Start invisible */
  padding: 30px;
  gap: 20px;
}

.one.active,
.two.active,
.three.active,
.four.active,
.five.active {
  left: 0; /* Move into view */
  opacity: 1; /* Make visible */
}

.one.exit,
.two.exit,
.three.exit,
.four.exit,
.five.exit {
  left: -100%; /* Move off-screen to the left */
  opacity: 0; /* Make invisible */
}

.one .top {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.one .top > button {
  border-radius: 30px;
  background: rgba(43, 44, 47, 0.7);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(5px);
  color: white;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  line-height: 1;
}

.selectionsWrapper h2 {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
}
.selectionsWrapper p {
  font-size: 13px;
  color: #ffffff80;
}

.one > button {
  border-radius: 30px;
  background: #fff;
  display: flex;
  width: 100%;
  height: 60px;
  padding: 20px 22px;
  justify-content: space-between;
  align-items: center;
  color: black;
  font-weight: 600;
  font-size: 18px;
}

.two .top,
.four .top,
.three .top,
.five .top {
  display: flex;
  width: 100%;
  gap: 15px;
  align-items: center;
}

.two .top button,
.four .top button,
.three .top button,
.five .top button {
  border-radius: 30px;
  background: #fff;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(5px);
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.two .bottom,
.three .bottom,
.four .bottom {
  display: flex;
  width: 100%;
  gap: 15px;
  align-items: center;
  justify-content: space-between;
}

.two .bottom button,
.four .bottom button {
  width: 100%;
  padding: 15px;
  border-radius: 30px;
  background: rgba(43, 44, 47, 0.8);
  color: #fff;
  font-weight: 600;
  font-size: 16px;
}
.four .bottom,
.three .bottom {
  flex-direction: column;
}

.four .bottom h1 {
  color: #fff;
  text-align: center;
  font-size: 26px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  letter-spacing: 3.12px;
  text-transform: uppercase;
}
.three .bottom input {
  width: 100%;
  padding: 14px;
  border-radius: 30px;
  background: rgba(43, 44, 47, 0.8);
}

.three .bottom button {
  border-radius: 30px;
  background: #b97fff;
  width: 100%;
  padding: 14px;
}

.five .bottom {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.five .bottom button {
  border-radius: 30px;
  background: rgba(43, 44, 47, 0.8);
  width: 100%;
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.five .bottom button p {
  border-radius: 30px;
  border: 3px solid rgba(0, 0, 0, 0.4);
  width: 30px;
  height: 30px;
}
.five .bottom button span {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.WrapperRoute {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: column;
}

.WrapperRoute > span {
  height: fit-content;
  padding: 10px;
  width: 100%;
  color: transparent;
}
.WrapperRoute .one {
  width: 100%;
  position: static !important;
  opacity: 1;
  height: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #000;
}

.Container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.Container > div {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  gap: 10px;
}
.Container > div img {
  width: 40px;
}
.Container > div > div {
  display: flex;
  width: 100%;
  border-radius: 26px ;
  background: rgba(43, 44, 47, 0.8);
  overflow: hidden;
  align-items: center;
  padding: 5px;
  gap: 10px;
}

.Container > div > div input {
  width: 100%;
  background-color: transparent;
  padding: 0px;
  outline: none;
}

.Container > div button {
  background-color: transparent;
}
