#root {
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
  background-color: #ffffff;
  height: 100vh;
  width: 100%;
  color: #000;
  max-width: 480px;
}

* {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.search-emoji {
  display: none;
}